@page
@model IndexModel
@{
    ViewData["Title"] = "Dobrodošli";
}


<blockquote class="blockquote text-center">
    <h1 class="display-4">Ustanovitev socialnega podjetja</h1>
    <br />
    <footer class="blockquote-footer">Projektna naloga pri predmetu UIKT</footer>
</blockquote>

<br />

<p>Storitev nudi učinkovito, zanesljivo in efektivno delovanje tistim, ki želijo hiter dostop do storitve in pridobitev novega statusa.</p>
