@page
@model IndexModel
@{
    ViewData["Title"] = "Dobrodošli";
}

<style>
    #navodila{
        border: 2px solid red;
        padding: 5px
        
    }
</style>


<blockquote class="blockquote text-center">
    <h1 class="display-4">Ustanovitev socialnega podjetja</h1>
    <br />
    <footer class="blockquote-footer">Projektna naloga pri predmetu UIKT</footer>
</blockquote>

<br />
<br />

<p style="font-size: 20px">Storitev nudi učinkovito, zanesljivo in efektivno delovanje tistim, ki želijo hiter dostop do storitve in pridobitev novega statusa.</p>
<br />
<br />
<div id="navodila">
    <p style="font-weight: bold; font-size: 18px;">Navodila za uporabo:</p>
    <p>1. Kliknite na zavihek "Prijava" in se vpišite z uporabniškim imenom in geslom.</p>
    <p>2. Po uspešni prijavi izpolnite obrazec za pridobitev statusa ter ga pošljite ali shranite za poznejšo uporabo.</p>
    <p>3. Podatki se pošljejo registrskemu organu, ki preveri vsa obvezna polja izpolnitve in jih pošlje upravi. </p>
    <p>4. Uprava podatke preveri teh jih udobri ali zavrne.</p>
    <p>5. Če uprava podatke udobri, uporabniku pošlje potrdilo o uspešni pridobitvi statusa.</p>
</div>
