@page
@model PrivacyModel
@{
	ViewData["Title"] = "Politika zasebnosti";
}
<h1>@ViewData["Title"]</h1>

<p>
	<br />
	<br />
	<h3>1. Uvod</h3>
	<br />
	Naša spletna stran uporablja vaše osebne podatke za izboljšanje vaše uporabniške izkušnje. S tem dokumentom želimo jasno in pregledno opisati, katere podatke zbiramo, zakaj jih potrebujemo in kako jih uporabljamo.
	<br />
	<br />
	<h3>2. Katere podatke zbiramo</h3>
	<br />
	Zbiramo naslednje vrste podatkov:
	<br />
	Osebne podatke, kot so ime, priimek, e-naslov in telefonska številka
	<br />
	Podatke o vaši uporabi naše spletne strani, kot so IP naslov, vrsta brskalnika, dostopni čas in strani, ki jih obiščete
	<br />
	<br />
	<h3>3. Zakaj potrebujemo vaše podatke</h3>
	<br />
	Vaši podatki nam pomagajo:
	<br />
	Vzpostaviti stik z vami, ko se obrnete na nas z vprašanji ali zahtevami
	<br />
	Izboljšati vašo uporabniško izkušnjo na naši spletni strani
	<br />
	Posodobiti našo spletno stran in izboljšati naše storitve
	<br />
	<br />
	<h3>4. Kako vaše podatke uporabljamo</h3>
	<br />
	Vaši podatki se uporabljajo za:
	<br />
	Odgovarjanje na vaša vprašanja in zahteve
	<br />
	Sestavljanje statističnih podatkov o uporabi naše spletne strani
	<br />
	Posodabljanje in izboljševanje naše spletne strani in storitev
	<br />
	<br />
	<h3>5. Varovanje vaših podatkov</h3>
	<br />
	Vaši podatki so varni z najnovejšimi tehnologijami varnosti in jih hranimo v varnem okolju
</p>