@page
@model UIKT.Pages.registracijaModel
@{
    ViewData["Title"] = "Registracija";
}

<div class="text-center">
    <h4>Registracija</h4>
    <form>
        <label for="fname">Uporabniško ime:</label>
        <input type="text" id="fname" name="fname" /><br /><br />
        <label for="fpass">Geslo:</label>
        <input type="password" id="fpass" name="fpass" /><br /><br />
        <label for="fpass2">Ponovno geslo:</label>
        <input type="password" id="fpass2" name="fpass2" /><br /><br />
        <label for="fmail">E-pošta:</label>
        <input type="text" id="fmail" name="fmail" /><br /><br />
    </form>
</div>